<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <h1>Admin Dashboard</h1>

    <div class="dashboard">
      <div class="card">
        <h3>Total Customers</h3>
        <p th:text="${customers}"></p>
      </div>

      <div class="card">
        <h3>Total Drivers</h3>
        <p th:text="${drivers}"></p>
      </div>
      <div class="card">
        <h3>Total Rides</h3>
        <p th:text="${rides}"></p>
      </div>
    </div>
  </body>
</html>
