<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>My Rides</title>

    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <div class="navbar">
      <h1>My Rides</h1>
    </div>

    <div class="ride-container">
      <table>
        <tr>
          <th>ID</th>
          <th>Pickup</th>
          <th>Drop</th>
          <th>Fare</th>
          <th>Status</th>
        </tr>

        <tr th:each="ride : ${rides}">
          <td th:text="${ride.id}"></td>

          <td th:text="${ride.pickup}"></td>

          <td th:text="${ride.dropLocation}"></td>

          <td th:text="${ride.fare}"></td>

          <td th:text="${ride.status}"></td>
        </tr>
      </table>
    </div>
  </body>
</html>
